* {
  margin:0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 2em;
}

#table_container {
  margin-top:2em;
}

#search_container {
  display:flex;
}

input {
  margin-left:1em;
  margin-right:1em;
}

#search {
  flex-grow: 1;
  margin-right:0;
}