* {
  margin:0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#table_container {
  visibility: hidden;
  padding:0.5em;
  position:absolute;
  top:0;
  left:0;
}

.gridjs {
  width: auto !important;
}

thead {
  display:none;
}

.search_box {
  display:flex;
  margin: 1em;
}

label {
  min-width: 4em;
}

input {
  flex-grow: 1;
}

#search {
  flex-grow: 1;
  margin-right:0;
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.1);
}

#board_view {
  display:none;
}

#main_graph {
  height:300px;
}

#todo_graph {
  height:600px;
}