* {
  margin:0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 2em;
}

table {
  border: 3px solid #ddd;
  border-collapse: collapse;
  margin-top:2em;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding:0.5em;
}

#search_container {
  display:flex;
}

#search_container input {
  flex-grow: 1;
}